.profile-container{
padding: 0px !important;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.profile-title h1 {
  font-size: 32px;
  font-weight: 700;
}

.profile-title p {
  color: #6e6e73;
  font-size: 24px;
  margin-top: 8px;
}

.profile-tabs {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    background-color: #E6E8EA;
    width: fit-content;
    border-radius: 0.75rem;
}

.profile-tabs button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: transparent;
    color: #6e6e73;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 0.5rem;
}

.profile-tabs button.active {
    background-color: #000;
    color: #fff;
}

.profile-tabs-row {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 24px;
}

.modal-actions-group{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.tab-row-button {
  background-color: #000;
  color: #fff;
  padding: 0.75rem 1rem;
  height: fit-content;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.tab-row-button:disabled {
  background-color: rgb(212 212 212);
  color: rgb(115 115 115);
  cursor: not-allowed;
}

@media not all and (min-width: 440px) {
    .profile-tabs {
        gap: 0.5rem;
    }
    .profile-tabs button {
        font-size: 0.75rem;
        line-height: 1rem;
    }
    .profile-tabs button {
        padding: 0.25rem 0.55rem;
    }
}